[network]
max_join_time = 500
pause_on_join = true
server_port = 3979
server_advertise = true
lan_internet = 1
server_name = Mijndert's Vanilla OpenTTD server
autoclean_companies = true
autoclean_unprotected = 1
autoclean_protected = 1
autoclean_novehicles = 1
max_companies = 10
max_clients = 15
max_spectators = 15
restart_game_year = 2060
min_active_clients = 1
server_lang = ENGLISH
reload_cfg = true

[gui]
autosave = monthly
threaded_saves = true

[vehicle]
road_side = right

[game_creation]
town_name = english
landscape = temperate
snow_line = 56
snow_line_height = 7
starting_year = 1860
land_generator = 1
oil_refinery_limit = 32
tgen_smoothness = 0
variety = 0
generation_seed = 2194048866
tree_placer = 2
heightmap_rotation = 0
se_flat_world_height = 1
map_x = 9
map_y = 10
water_borders = 16
custom_town_number = 30
custom_sea_level = 2
